button {
	color:			    	white;
	width:				    100px;
	height:				    30px;
	border-color:		  white;
	border-radius:		10px;
}

button:hover {
	border-color:		black;
	transition:			0.2s;
}
button2 {
  width: 246px;
  height: 25px;
  color: #4C4C4C;
  margin-bottom: 20px;
  margin-left: 20px;
}
button3{
    width: 30px;
    height: 30px;
    border-radius: 15px;
}

#login {
	background-color:	darkgreen;
	color:				    white;
	width:				    100px;
	height:				    30px;
	border-color:		  white;
	border-radius:		10px;
	border-radius: 		0;
	border-top-left-radius: 25px;
}

#login:hover {
	background-color:	white;
	color:				    darkgreen;
	border-color:		  black;
	transition:			  0.2s;
}

#register {
	background-color:	darkblue;
	color:				    white;
	width:				    100px;
	height:				    30px;
	border-color:		  white;
	border-radius:		10px;
	border-radius: 		0;
	border-bottom-right-radius: 25px;
}

#register:hover {
	background-color:	white;
	color:				    darkblue;
	border-color:		  black;
	transition:			  0.2s;
}

#logout {
	background-color:	darkred;
	border-radius: 		0;
	border-top-left-radius: 25px;
}

#logout:hover {
	background-color:	white;
	color:				    darkred;
	border-color:		  black;
	transition:			  0.2s;
}

#save, [id*="save"] {
	background-color:	darkgreen;
}

#save:hover, [id*="save"]:hover {
	background-color:	white;
	color:				    darkgreen;
	border-color:		  black;
	transition:			  0.2s;
}

#cancel {
	background-color:	darkred;
}

#cancel:hover {
	background-color:	white;
	color:				    darkred;
	border-color:		  black;
	transition:			  0.2s;
}

.actionButton{
	color:					    white;
	background-color:		black;
	width:					    125px;
	height:					    45px;
	border-radius:			0px;
}

.actionButton:hover{
	color:					    black;
	background-color:		white;
	font-size:				  105%;
	width:					    140px;
}

.actionButton:focus{
	color:					    black;
	background-color:		white;
	width:					    135px;
}

.actionButton:active{
	color:					    azure;
	background-color:		silver;
  border-style: outset;
}

.actionButton:disabled{
	background-color:		silver;
	color:					    white;
}

.actionButton:disabled:hover{
	background-color:		silver;
	color:					    white;
}
