form {
  width: 330px;
  border-top: 1px dotted #D9D9D9;
  margin: 10px 180px;
}

input[type = submit] {
  background-color:	darkblue;
	color:				    white;
	width:				    100px;
	height:				    30px;
	border-color:		  white;
	border-radius:		10px;
	border-radius: 		0;
  border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

input[type = submit]:hover {
	background-color:	white;
	color:				    darkblue;
	border-color:		  black;
	transition:			  0.2s;
}

span[id*=a]{
  display: block;
  width: 500px;
}

textarea {
  width: 280px;
  height: 70px;
  padding: 5px;
  margin: 20px 0 10px;
  border-radius: 5px;
  border: 4px solid #acbfa5;
}

.four p {
  text-align: center;
  color: #fff;
  padding: 15px 0;
}

.first p {
  padding: 15px;
  color: #fff;
}

.two {
  background-color: #fff;
  width: 290px;
  float: left;
  height: 400px;
}

.main_content {
  width: 960px;
  height: auto;
  background-color: #fff;
}

.two h4 {
  color: #4C4C4C;
  text-align: center;
}

.three {
  text-align: center;
  width: 660px;
  border-left: 1px solid #D0D0D0;
  float: left;
  background-color: #fff;
}

.four, .first {
  width: 960px;
  clear: both;
  background-color: black;
  height: 55px;
}
