body {
	background-image:	url('../images/repeatable2.png');
}

p#headerButtons {
	display:					block;
	text-align:				right;
	background-color:	whitesmoke;
	background-image:	url('../images/banner_exam.jpg');
	background-size:	100%;
	padding:					10px;
	border-radius:		10px;
	width:						1000px;
	height:						116px;
	margin-left:			auto;
	margin-right:			auto;
}

nav {
	background-color:	whitesmoke;
	display:					block;
	text-align:				center;
	font-size:				small;
	padding:					10px;
	border-radius:		10px;
	width:						1000px;
	margin-left:			auto;
	margin-right:			auto;
}

nav#footer {
	background-color:	black;
}

form {
	text-align:			center;
}

h3 {
	display:				block;
	text-align:			center;
	margin-top:			30px;
}

input[id*='text'] {
	margin-top:				10px;
	padding:					5px;
	border:						1px solid gray;
	background-color:	silver;
	border-radius:		10px;
}

input[id*='text']:focus {
	border:						1px solid black;
	background-color:	azure;
}

#error {
	font-size:			small;
	color:					red;
}

table {
	width:		100%;
}

.sidebar {
	width:					150px;
	vertical-align: top;
}

a {
	color:		white;
}

.accManager {
	color:		red;
}

.accTable {
	width:		75%;
}

.accTable, .accTH, .accTD  {
	border:						1px solid white;
	border-collapse: 	collapse;
	padding:					5px;
}

.accTH {
	text-align:				left;
	background-color:	black;
	color:						white;
}

.accTR {
	background-color:	white;
}

.accTR:hover {
	background-color:	wheat;
}

select {
	background-color:	silver;
	padding:					5px;
	border:						1px solid gray;
	border-radius:		10px;
	transition:				0.2s;
}

select:focus {
	background-color:	white;
	border:						1px solid black;
}

[class*="answer"] {
	display:			none;
}

input[type=text] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    opacity: 0.93;
    padding: 10px 100px 10px 20px;
    border: 5px solid #b7b7b7;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 16px/normal "Times New Roman", Times, serif;

    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 58%, rgba(0,0,0,0) 68%, rgba(216,78,78,0) 73%, rgba(216,78,78,0) 75%, rgba(216,78,78,0) 77%, rgba(216,78,78,0) 88%, rgba(216,78,78,0) 93%, rgba(0,0,0,1) 100%), rgba(252,252,252,1);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 58%, rgba(0,0,0,0) 68%, rgba(216,78,78,0) 73%, rgba(216,78,78,0) 75%, rgba(216,78,78,0) 77%, rgba(216,78,78,0) 88%, rgba(216,78,78,0) 93%, rgba(0,0,0,1) 100%), rgba(252,252,252,1);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 58%, rgba(0,0,0,0) 68%, rgba(216,78,78,0) 73%, rgba(216,78,78,0) 75%, rgba(216,78,78,0) 77%, rgba(216,78,78,0) 88%, rgba(216,78,78,0) 93%, rgba(0,0,0,1) 100%), rgba(252,252,252,1);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(76,56,56,0.7) inset;
    box-shadow: 2px 2px 2px 0 rgba(76,56,56,0.7) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: rotateX(-2.291831180523293deg) rotateY(-0.5729577951308232deg)   ;
    transform: rotateX(-2.291831180523293deg) rotateY(-0.5729577951308232deg)   ;
}
input[type=password] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    opacity: 0.93;
    padding: 10px 100px 10px 20px;
    border: 5px solid #b7b7b7;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 16px/normal "Times New Roman", Times, serif;

    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 58%, rgba(0,0,0,0) 68%, rgba(216,78,78,0) 73%, rgba(216,78,78,0) 75%, rgba(216,78,78,0) 77%, rgba(216,78,78,0) 88%, rgba(216,78,78,0) 93%, rgba(0,0,0,1) 100%), rgba(252,252,252,1);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 58%, rgba(0,0,0,0) 68%, rgba(216,78,78,0) 73%, rgba(216,78,78,0) 75%, rgba(216,78,78,0) 77%, rgba(216,78,78,0) 88%, rgba(216,78,78,0) 93%, rgba(0,0,0,1) 100%), rgba(252,252,252,1);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 58%, rgba(0,0,0,0) 68%, rgba(216,78,78,0) 73%, rgba(216,78,78,0) 75%, rgba(216,78,78,0) 77%, rgba(216,78,78,0) 88%, rgba(216,78,78,0) 93%, rgba(0,0,0,1) 100%), rgba(252,252,252,1);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(76,56,56,0.7) inset;
    box-shadow: 2px 2px 2px 0 rgba(76,56,56,0.7) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: rotateX(-2.291831180523293deg) rotateY(-0.5729577951308232deg)   ;
    transform: rotateX(-2.291831180523293deg) rotateY(-0.5729577951308232deg)   ;
}
input[type=text] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    opacity: 0.93;
    padding: 10px 100px 10px 20px;
    border: 5px solid #b7b7b7;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    font: normal 16px/normal "Comic Sans MS", Times, serif;

    -o-text-overflow: clip;
    text-overflow: clip;
    background: -webkit-linear-gradient(-90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 58%, rgba(0,0,0,0) 68%, rgba(216,78,78,0) 73%, rgba(216,78,78,0) 75%, rgba(216,78,78,0) 77%, rgba(216,78,78,0) 88%, rgba(216,78,78,0) 93%, rgba(0,0,0,1) 100%), rgba(252,252,252,1);
    background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 58%, rgba(0,0,0,0) 68%, rgba(216,78,78,0) 73%, rgba(216,78,78,0) 75%, rgba(216,78,78,0) 77%, rgba(216,78,78,0) 88%, rgba(216,78,78,0) 93%, rgba(0,0,0,1) 100%), rgba(252,252,252,1);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 58%, rgba(0,0,0,0) 68%, rgba(216,78,78,0) 73%, rgba(216,78,78,0) 75%, rgba(216,78,78,0) 77%, rgba(216,78,78,0) 88%, rgba(216,78,78,0) 93%, rgba(0,0,0,1) 100%), rgba(252,252,252,1);
    background-position: 50% 50%;
    -webkit-background-origin: padding-box;
    background-origin: padding-box;
    -webkit-background-clip: border-box;
    background-clip: border-box;
    -webkit-background-size: auto auto;
    background-size: auto auto;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(76,56,56,0.7) inset;
    box-shadow: 2px 2px 2px 0 rgba(76,56,56,0.7) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -webkit-transform: rotateX(-2.291831180523293deg) rotateY(-0.5729577951308232deg)   ;
    transform: rotateX(-2.291831180523293deg) rotateY(-0.5729577951308232deg)   ;
}
select {
   background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}
input[type="checkbox"]{
    color:#f2f2f2;
}

input[type="checkbox"]{
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked{
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}

